<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alhaddadsoft.librarymustafamahmood"
    android:versionCode="2"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="com.alhaddadsoft.librarymustafamahmood.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name,android:theme,android:icon">
        <activity
            android:name="com.alhaddadsoft.librarymustafamahmood.MainActivity"
            android:label="@string/app_name_inside">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alhaddadsoft.librarymustafamahmood.DownloadActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            ></activity>
        <activity android:name="com.alhaddadsoft.librarymustafamahmood.DownloadBook"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            ></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2b66bdf5e45469b284cb57ce575961ad7499812a" />
    </application>

</manifest>